$standardSize: 1080px;
$fontColor3: #191919;
$fontColor6: #767676;
$fontColor9: #999;
$blueColor: #269bd7;
$borderColor: #cfcfcf;
$errorColor: #ff794a;
$shadow0: 0;
$shadow160: 160;
$shadow180: 180;
.box-shadow0 {
  -webkit-box-shadow: 0px 3px 7px 1px rgba($shadow0, $shadow0, $shadow0, 0.4);
  -moz-box-shadow: 0px 3px 7px 1px rgba($shadow0, $shadow0, $shadow0, 0.4);
  box-shadow: 0px 3px 7px 1px rgba($shadow0, $shadow0, $shadow0, 0.4);
}
.txt-shadow0 {
  -webkit-text-shadow: 1px 1px 4px rgba($shadow0, $shadow0, $shadow0, 0.4);
  -moz-text-shadow: 1px 1px 4px rgba($shadow0, $shadow0, $shadow0, 0.4);
  text-shadow: 1px 1px 4px rgba($shadow0, $shadow0, $shadow0, 0.4);
}
.box-shadow160 {
  -webkit-box-shadow: 0px 3px 7px 1px
    rgba($shadow160, $shadow160, $shadow160, 0.4);
  -moz-box-shadow: 0px 3px 7px 1px rgba($shadow160, $shadow160, $shadow160, 0.4);
  box-shadow: 0px 3px 7px 1px rgba($shadow160, $shadow160, $shadow160, 0.4);
}
.txt-shadow160 {
  -webkit-text-shadow: 1px 1px 4px rgba($shadow160, $shadow160, $shadow160, 0.4);
  -moz-text-shadow: 1px 1px 4px rgba($shadow160, $shadow160, $shadow160, 0.4);
  text-shadow: 1px 1px 4px rgba($shadow160, $shadow160, $shadow160, 0.4);
}
.img-shadow160 {
  -webkit-box-shadow: 0px 0px 7px 0px
    rgba($shadow160, $shadow160, $shadow160, 0.4);
  -moz-box-shadow: 0px 0px 7px 0px rgba($shadow160, $shadow160, $shadow160, 0.4);
  box-shadow: 0px 0px 7px 0px rgba($shadow160, $shadow160, $shadow160, 0.4);
}
.box-shadow180 {
  -webkit-box-shadow: 0px 1px 4px 1px
    rgba($shadow180, $shadow180, $shadow180, 0.4);
  -moz-box-shadow: 0px 1px 4px 1px rgba($shadow180, $shadow180, $shadow180, 0.4);
  box-shadow: 0px 1px 4px 1px rgba($shadow180, $shadow180, $shadow180, 0.4);
}
// topMenu.vue
#pc {
  .top-menu {
    position: relative;
    display: table;
    width: $standardSize;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    h1 {
      display: table-cell;
      vertical-align: middle;
      a {
        display: inline-block;
        width: 140px;
        height: 44px;
        margin: 0 auto;
        padding-top: 6px;
        background: url('~static/svg2/logo_aram.svg') no-repeat center center;
        background-size: 100% auto;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        // img {
        //   display: block;
        //   width: 140px;
        //   height: 44px;
        //   margin: 0 auto;
        //   transition: all 0.3s ease 0s;
        //   -webkit-transition: all 0.3s ease 0s;
        // }
      }
    }
    ul {
      position: absolute;
      top: 32px;
      right: -148px;
      font-size: 14px;
      color: $fontColor6;
      transition: all 0.1s ease 0s;
      -webkit-transition: all 0.1s ease 0s;
      li {
        display: inline-block;
        &.login-name {
          font-weight: 300;
        }
        & + li {
          margin-left: 40px;
          font-weight: 300;
        }
        span {
          font-size: 14px;
          cursor: pointer;
          color: $fontColor6;
        }
      }
    }
  }
  .gnb-menu {
    position: relative;
    width: 100%;
    height: 58px;
    -webkit-box-shadow: 0px 3px 5px 0px
      rgba($shadow160, $shadow160, $shadow160, 0.2);
    -moz-box-shadow: 0px 3px 5px 0px
      rgba($shadow160, $shadow160, $shadow160, 0.2);
    box-shadow: 0px 3px 5px 0px rgba($shadow160, $shadow160, $shadow160, 0.2);
    .main {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 58px;
      border-top: 1px solid #c9c9c9;
      border-bottom: 1px solid #c9c9c9;
      background: #fff;
      text-align: center;
      z-index: 2;
      li {
        display: inline-block;
        height: 56px;
        width: 217px;
        line-height: 56px;
        vertical-align: top;
        & > a,
        & > span {
          position: relative;
          display: inline-block;
          padding: 0 9px;
          font-size: 18px;
          vertical-align: top;
          color: $fontColor3;
          cursor: pointer;
          &:after {
            position: absolute;
            content: '';
            top: 40px;
            left: 50%;
            width: 0;
            height: 18px;
            display: block;
            background: #009be1;
            transition: all 0.1s ease 0s;
            -webkit-transition: all 0.1s ease 0s;
            transition-timing-function: ease-out;
            opacity: 0;
          }
          &.active {
            font-weight: 600;
            color: #009be1;
          }
          &.btn-study {
            position: relative;
            width: 140px;
            height: 40px;
            padding: 0 0 0 18px;
            margin: 8px auto;
            background: #9eb547 url('~static/svg2/icon_study.svg') no-repeat
              14px 8px;
            border-radius: 20px;
            color: #fff;
            line-height: 38px;
            &:hover {
              animation-name: fadeOut;
              animation-duration: 0.5s;
              animation-duration: leaner;
              animation-iteration-count: 1;
            }
            @keyframes fadeOut {
              0% {
                background-position: 14px 8px;
              }
              50% {
                background-position: 14px 6px;
              }
              100% {
                background-position: 14px 8px;
              }
            }
          }
          &.sub {
            &:after {
              top: 55px;
              left: 0;
              width: 100%;
              height: 3px;
              opacity: 1;
            }
          }
        }
      }
    }
    .sub-list {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(253, 253, 253, 0.9);
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      transition-timing-function: ease-out;
      z-index: 1;
      &.active {
        top: 58px;
      }
      &.menuSub01 {
        li:first-child {
          margin-left: -42.8rem;
        }
      }
      &.menuSub02 {
        li:first-child {
          margin-left: -22.3rem;
        }
      }
      &.menuSub03 {
        li:first-child {
          margin-left: 0rem;
        }
      }
      &.menuSub04 {
        li:first-child {
          margin-left: 24rem;
        }
      }
      li {
        display: inline-block;
        line-height: 58px;
        a {
          display: block;
          padding: 0 20px;
          color: $fontColor3;
        }
        a:hover {
          color: #009be1;
          font-weight: 400;
        }
      }
    }
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%;
      }

      to {
        margin-left: 0%;
        width: 100%;
      }
    }
  }
  &.scroll {
    .top-menu {
      height: 0;
      // img {
      //   width: 100px;
      //   margin-top: -35px;
      // }
      h1 {
        a {
          background-size: 100px auto;
        }
      }
      ul {
        top: 20px;
      }
    }
  }
}
#mo {
  .top-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 32rem;
    height: 4.5rem;
    background: #fff;
    border-bottom: 1px solid #c9c9c9;
    margin-left: -16rem;
    z-index: 999;
    &.back {
      height: 9rem;
    }
    h1 {
      width: 100%;
      height: 4.5rem;
      padding-left: 1.5rem;
      text-align: left;
      line-height: 4rem;
      img {
        width: 5.5rem;
      }
    }
    h2 {
      font-weight: 400;
    }
    button {
      position: absolute;
      &.btn-gnb {
        top: 0;
        right: 0;
        width: 4rem;
        height: 4.5rem;
        background: transparent url('~static/svg2/icon_head_ham.svg') no-repeat
          center center;
        background-size: 1.4rem auto;
      }
    }
    .btn-back {
      height: 4.5rem;
      border-top: 1px solid #c9c9c9;
      // background: transparent url('~static/images/mobile/common/btn_g_back.png')
      //   no-repeat 1.5rem center;
      background: transparent url('~static/images/mobile/common/btn_g_back.svg')
        no-repeat 1.5rem center;
      background-size: 2.4rem;
      font-size: 1.6rem;
      line-height: 4.5rem;
      text-align: center;
      // left: 0;
      // background: transparent url('~static/svg2/icon_arrow_gray.svg') no-repeat
      //   1.6rem center;
      // background-size: 0.7rem auto;
      // transform: rotate(180deg);
    }
  }
  .gnb-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1001;
    .gnb-bg {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      opacity: 0;
      z-index: 1;
      transition: opacity 1.4s ease 0s;
      -webkit-transition: opacity 1.4s ease 0s;
      &.open {
        opacity: 1;
      }
    }
    .gnb-cont {
      position: absolute;
      top: 0;
      width: 90%;
      padding-top: 2rem;
      background: #fff;
      transition: right 0.5s ease 0s;
      -webkit-transition: right 0.5s ease 0s;
      z-index: 2;
      &.open {
        right: 0;
      }
      & > * {
        padding: 0 2.3rem 0 2.5rem;
      }
      .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 4.3rem;
        height: 3.9rem;
        background: transparent url('~static/svg2/icon_x.svg') no-repeat center
          center;
        background-size: 1.3rem;
        padding: 0;
      }
      .gnb-top {
        margin-bottom: 1.6rem;
        border-bottom: 0.8rem solid #f6f6f6;
        .profile {
          display: table;
          width: 100%;
          & > * {
            display: table-cell;
            vertical-align: middle;
          }
          .thume {
            width: 4rem;
            span {
              display: block;
              width: 4rem;
              height: 4rem;
              background: transparent
                url('~static/svg2/icon_main_customer2.svg') no-repeat center;
              border-radius: 2rem;
            }
          }
          .txt-member {
            padding-left: 1.5rem;
            font-size: 1.2rem;
            color: $fontColor6;
            span {
              display: block;
              margin-bottom: 0.4rem;
              font-size: 1.5rem;
              font-weight: 600;
              color: $fontColor3;
            }
          }
          .txt-login {
            padding-left: 1.5rem;
            font-size: 1.5rem;
            font-weight: 600;
            img {
              width: 0.5rem;
              height: 0.9rem;
              margin: -0.2rem 0 0 0.5rem;
            }
          }
        }
        .member-menu {
          display: table;
          width: 100%;
          & > * {
            display: table-cell;
            width: 33.3%;
            padding: 1.9rem 0;
            font-size: 1.4rem;
            text-align: center;
          }
        }
        // .border {
        //   display: block;
        //   width: 28.8rem;
        //   height: 0.8rem;
        //   margin: 0 0 1.6rem -2.5rem;
        //   background: #f6f6f6;
        // }
      }
      .gnb-menu {
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        font-size: 1.4rem;
        .gnb-menu-list {
          & > li {
            min-height: 4.5rem;
            line-height: 4.5rem;
            &:first-child {
              background: $fontColor9;
              border-top: 0 none;
              padding-left: 0;
              border-radius: 0.6rem;
              text-align: center;
              color: #fff;
              &.active {
                background: #93c340;
              }
            }
            &:nth-child(n + 3) {
              border-top: 1px solid #c9c9c9;
            }
            & > div {
              display: table;
              width: 100%;
              a,
              span {
                display: table-cell;
                vertical-align: middle;
                font-weight: 600;
                &:nth-child(1) {
                  position: relative;
                  display: block;
                  padding: 0 3.5rem 0 1.2rem;
                  &.arw::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 3.5rem;
                    height: 100%;
                    background: url('~static/svg2/icon_arrow_black.svg')
                      no-repeat center center;
                    background-size: 1.8rem 1rem;
                    transform: rotate(90deg);
                    transition: all 0.3s ease 0s;
                    -webkit-transition: all 0.3s ease 0s;
                  }
                }
                // &:nth-child(2) {
                //   position: absolute;
                //   top: 0;
                //   right: 0;
                //   width: 3.5rem;
                //   padding-left: 1rem;
                //   text-align: center;
                //   z-index: 100;
                //   img {
                //     width: 1.8rem;
                //     height: 1rem;
                //     transform: rotate(90deg);
                //     transition: all 0.3s ease 0s;
                //     -webkit-transition: all 0.3s ease 0s;
                //     &.open {
                //       transform: rotate(-90deg);
                //     }
                //   }
                // }
              }
              &.open {
                .arw::after {
                  transform: rotate(-90deg) !important;
                }
              }
            }
            .btn-learn {
              display: block;
              cursor: pointer;
            }
          }
        }
        .gnb-sub-menu {
          overflow: hidden;
          display: none;
          padding: 0.4rem 0;
          border-top: 1px solid #c9c9c9;
          border-bottom: 1px solid $fontColor6;
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          &.open {
            display: block;
          }
          li {
            float: left;
            width: 50%;
            span {
              display: block;
              height: 4.4rem;
              padding-left: 1.3rem;
              line-height: 4.4rem;
            }
          }
        }
        .cs {
          position: fixed;
          bottom: 0;
          display: table;
          width: calc(100% + 5rem);
          height: 4.9rem;
          padding: 0 2.5rem;
          margin-left: -2.5rem;
          background: $fontColor3 url('~static/svg2/icon_main_mike_w.svg')
            no-repeat 2.5rem center;
          background-size: 3rem auto;
          color: #fff;
          .txt {
            display: table-cell;
            padding-left: 3.9rem;
            vertical-align: middle;
            font-size: 1.5rem;
            span {
              display: block;
              font-size: 1.2rem;
            }
          }
          a {
            position: absolute;
            right: 10rem;
            bottom: 1rem;
            display: block;
            width: 6.5rem;
            height: 6.5rem;
            padding-top: 3.8rem;
            border-radius: 50%;
            background: #7348ae url('~static/svg2/icon_main_call.svg') no-repeat
              center 0.8rem;
            background-size: 2.4rem 2.6rem;
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
            z-index: 100;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1381px) {
  #pc {
    .top-menu {
      ul {
        right: 0;
      }
    }
  }
}
@media screen and (max-width: 799px) {
  .gnb-cont {
    right: -1000px;
  }
}
@media screen and (min-width: 800px) {
  .gnb-cont {
    right: -3000px;
  }
}
// footerMenu.vue
.footer {
  #pc {
    .menu {
      width: 100%;
      background: $fontColor6;
      ul {
        display: table;
        width: 586px;
        height: 50px;
        margin: 0 auto;
        li {
          position: relative;
          display: table-cell;
          padding: 0 56px;
          font-size: 0.8rem;
          vertical-align: middle;
          color: #cfcfcf;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
          & + li {
            &::before {
              position: absolute;
              top: 20px;
              left: 0;
              content: '';
              display: block;
              width: 2px;
              height: 16px;
              background: #cfcfcf;
            }
          }
        }
      }
    }
    .family-site {
      position: relative;
      width: 1080px;
      margin: 0 auto;
      select {
        position: absolute;
        top: 26px;
        right: 0;
        width: 200px;
        height: 48px;
        background: #f6f6f6 url('~static/images/mobile/common/triangle.png')
          no-repeat 92% 48%;
        background-size: 12px;
        border: 1px solid #cfcfcf;
        font-size: 15px;
        color: $fontColor6;
        option {
          height: 50px;
        }
      }
    }
    .info {
      background: #f6f6f6;
      & + .info {
        border-top: 1px solid #c9c9c9;
        padding-bottom: 20px;
      }
      dl {
        display: table;
        width: 1080px;
        padding: 20px 0 20px;
        margin: 0 auto;
        & > * {
          display: table-cell;
          vertical-align: top;
        }
        dt {
          width: 198px;
          font-weight: 400;
          font-size: 0.9rem;
        }
        dd {
          font-size: 0.8rem;
          font-weight: 200;
          line-height: 30px;
          color: $fontColor9;
          .link {
            display: inline-block;
            width: 134px;
            height: 38px;
            border: 1px solid #cfcfcf;
            background: #fff;
            margin-top: 10px;
            font-size: 20px;
            text-align: center;
            line-height: 38px;
          }
        }
      }
    }
  }
  #mo {
    background: #f6f6f6;
    &.remote {
      padding-bottom: 2.6rem;
    }
    .menu {
      display: table;
      width: 32rem;
      padding: 0 3rem;
      margin: 0 auto;
      background: $fontColor6;
      li {
        position: relative;
        display: table-cell;
        width: 13rem;
        height: 4rem;
        font-size: 1.2rem;
        font-weight: 200;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        // &:first-child {
        //   padding-right: 2.8rem;
        //   text-align: right;
        // }
        & + li {
          padding-left: 2.8rem;
          text-align: left;
          &::before {
            position: absolute;
            top: 1.5rem;
            left: 0;
            content: '';
            display: inline-block;
            height: 1rem;
            border-left: 1px solid #fff;
          }
        }
      }
    }
    .family-site {
      width: 32rem;
      margin: 0 auto;
      select {
        width: 30rem;
        margin: 1rem;
        background-position: 96% 48%;
        // background-color: #fff;
      }
    }
    .info {
      width: 32rem;
      margin: 0 auto;
      & + .info {
        border-top: 1px solid #c9c9c9;
      }
      padding: 1.5rem 1.9rem 2rem;
      &:last-child {
        padding: 1.5rem 1.9rem 4rem;
      }
      .name {
        margin-bottom: 0.8rem;
        font-size: 1.2rem;
        color: $fontColor3;
      }
      .txt-copyright,
      address {
        font-size: 1rem;
        line-height: 2rem;
        color: $fontColor9;
        font-weight: 300;
        a {
          text-decoration: underline;
        }
      }
      .link {
        display: inline-block;
        width: 6.8rem;
        height: 2rem;
        margin-top: 0.8rem;
        background: #fff;
        border: 1px solid $borderColor;
        font-size: 1rem;
        text-align: center;
        line-height: 2rem;
        color: $fontColor9;
        & + .link {
          margin-left: 0.4rem;
        }
      }
    }
  }
}
// addChild.vue
.tui-editor-contents {
  img {
    width: 100%;
  }
}
.pc {
  #imgFileView {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 22rem;
    z-index: 1;
    img {
      width: 100%;
    }
  }
  .vplayer{
    .player__controls{
      opacity: 0;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
    }
    &:hover{
      .player__controls{
        opacity: 1;
      }
    }
  }
}
.mo {
  #imgFileView {
    overflow: hidden;
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    height: 23rem;
    border: 1px solid #cfcfcf;
    z-index: 1;
    img {
      width: 100%;
    }
  }
}
